@charset "UTF-8";
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0 solid transparent;
    font-size: 100%;
    font-weight: normal;
    font-style: normal;
    list-style: none;
}

*::after, *::before {
    box-sizing: inherit;
}

body, html {
    margin: 0;
    padding: 0;
    background-color: transparent;
}

body {
    line-height: 1.4;
    color: #444;
    font-family: -apple-system, 'BlinkMacSystemFont', Helvetica, Roboto, Sans-Serif;
    font-size: 12px;
    -webkit-user-select: none;
    -webkit-text-size-adjust: none;
}

a {
    -webkit-touch-callout: none;
}

a:active, a:focus, a:hover, a:link, a:visited {
    text-decoration: none;
}

b, em, strong {
    font-weight: bold;
}

.FlexContainer {
    overflow: hidden;
    background-color: #ffffff;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
}

.FlexContainer .BlockBody, .FlexContainer .BlockFooter,
 .FlexContainer .BlockHeader, .FlexContainer .BlockHero {
    display: inherit;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
}

.FlexContainer .BlockBody>div, .FlexContainer .BlockFooter>div,
 .FlexContainer .BlockHeader>div, .FlexContainer .BlockHero>div {
    flex-basis: auto
}

.FlexContainer .BlockHero:first-child .ImageType.ExFull>div>a>span,
 .FlexContainer .BlockHero:last-child .ImageType.ExFull>div>a>span {
    overflow: hidden
}

.FlexSizeGiga {}
.FlexSizeMega {}
.FlexSizeKilo {}
.FlexSizeMicro {}
.FlexSizeNano {}

.FlexSizeGiga .FlexContainer .BlockHeader>.BoxType,
 .FlexSizeMega .FlexContainer .BlockHeader>.BoxType{
    padding: 20px
}

.FlexSizeKilo .FlexContainer .BlockHeader>.BoxType{
    padding: 13px
}

.FlexSizeMicro .FlexContainer .BlockHeader>.BoxType,
.FlexSizeNano .FlexContainer .BlockHeader>.BoxType{
    padding: 10px
}

.FlexSizeGiga .FlexContainer .BlockBody>.BoxType,
.FlexSizeMega .FlexContainer .BlockBody>.BoxType{
    padding: 20px;
    padding-top: 19px;
}

.FlexSizeKilo .FlexContainer .BlockHeader>.BoxType{
   padding: 13px;
}

.FlexSizeMicro .FlexContainer .BlockHeader>.BoxType,
 .FlexSizeNano .FlexContainer .BlockHeader>.BoxType{
   padding: 10px;
}

.FlexContainer .BlockBody.HasFooter>.BoxType {
    padding-bottom: 10px
}

.FlexContainer .BlockFooter>.BoxType {
    padding: 10px
}


.FlexLTR, [dir="ltr"] {
    direction: ltr
}

.FlexRTL, [dir="rtl"] {
    direction: rtl
}

.ButtonType, .BoxType, .IconType, .ImageType, .TextType, [class*="MdSep"] {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-flex: 1;
    flex: 1 0 0;
    min-width: 0;
    max-width: 100%
}

@media (-webkit-min-device-pixel-ratio: 1) {
    .ButtonType, .BoxType, .IconType, .ImageType, .TextType, [class*="MdSep"] {
        width: 0
    }
}

@media (-webkit-min-device-pixel-ratio: 1) and (min-width: 0.001vmax) {
    .ButtonType, .BoxType, .IconType, .ImageType, .TextType, [class*="MdSep"] {
        width: auto
    }
}

@media (min-resolution: 1dpi) {
    .ButtonType, .BoxType, .IconType, .ImageType, .TextType, [class*="MdSep"] {
        width: auto
    }
}

.BoxType {
    overflow: hidden;
    position: relative
}

.BoxType.vertical>div {
    -webkit-box-flex: 0;
    flex: none;
    flex-basis: auto
}

.BoxType.horizontal {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    width: 100%
}

.BoxType.horizontal>div {
    overflow: hidden;
    -webkit-box-flex: 1;
    flex: 1 0 0
}

@media (-webkit-min-device-pixel-ratio: 1) {
    .BoxType.horizontal>div {
        width: 0
    }
}

@media (-webkit-min-device-pixel-ratio: 1) and (min-width: 0.001vmax) {
    .BoxType.horizontal>div {
        width: auto
    }
}

@media (min-resolution: 1dpi) {
    .BoxType.horizontal>div {
        width: auto
    }
}

.BoxType.horizontal>div.MdSep {
    overflow: visible
}

.BoxType.horizontal>div.fl0 {
    width: auto
}

.BoxType.horizontal>div.fl0.ImageType.ExFull {
    width: 100%
}

.BoxType.horizontal>div[class*="MdSep"] {
    -webkit-box-flex: 0;
    flex: none
}

.BoxType.horizontal.baseline {
    -webkit-box-align: baseline;
    align-items: baseline
}

.BoxType.horizontal>div.PositionAbsolute {
    width: auto
}

.BoxType.horizontal.PositionAbsolute {
    width: auto
}

.BoxType.horizontal.PositionAbsolute>div {
    width: auto
}

.PositionAbsolute .BoxType.horizontal {
    width: auto
}

.PositionAbsolute .BoxType.horizontal>div {
    width: auto
}

.FlexContainer .BoxType.horizontal.spcXs>div {
    margin-left: 2px
}

.FlexContainer .BoxType.horizontal.spcSm>div {
    margin-left: 4px
}

.FlexContainer .BoxType.horizontal.spcMd>div {
    margin-left: 8px
}

.FlexContainer .BoxType.horizontal.spcLg>div {
    margin-left: 12px
}

.FlexContainer .BoxType.horizontal.spcXl>div {
    margin-left: 16px
}

.FlexContainer .BoxType.horizontal.spcXXl>div {
    margin-left: 20px
}

.FlexContainer .BoxType.horizontal>div.mdBxFiller, .FlexContainer .BoxType.horizontal>div.mdBxSpacer, .FlexContainer .BoxType.horizontal>div:first-child {
    margin-left: 0
}

.FlexContainer.fxRTL .BoxType.horizontal>div {
    margin-left: 0
}

.FlexContainer.fxRTL .BoxType.horizontal.spcXs>div {
    margin-right: 2px
}

.FlexContainer.fxRTL .BoxType.horizontal.spcSm>div {
    margin-right: 4px
}

.FlexContainer.fxRTL .BoxType.horizontal.spcMd>div {
    margin-right: 8px
}

.FlexContainer.fxRTL .BoxType.horizontal.spcLg>div {
    margin-right: 12px
}

.FlexContainer.fxRTL .BoxType.horizontal.spcXl>div {
    margin-right: 16px
}

.FlexContainer.fxRTL .BoxType.horizontal.spcXXl>div {
    margin-right: 20px
}

.FlexContainer.fxRTL .BoxType.horizontal>div.mdBxFiller, .FlexContainer.fxRTL .BoxType.horizontal>div.mdBxSpacer, .FlexContainer.fxRTL .BoxType.horizontal>div:first-child {
    margin-right: 0
}

.BoxType.itms-jfcS {
    -webkit-box-pack: start;
    justify-content: flex-start
}

.BoxType.itms-jfcE {
    -webkit-box-pack: end;
    justify-content: flex-end
}

.BoxType.itms-jfcC {
    -webkit-box-pack: center;
    justify-content: center
}

.BoxType.itms-jfcSB {
    -webkit-box-pack: justify;
    justify-content: space-between
}

.BoxType.itms-jfcSA {
    justify-content: space-around
}

.BoxType.itms-jfcSE {
    justify-content: space-evenly
}

.BoxType.itms-algS {
    -webkit-box-align: start;
    align-items: flex-start
}

.BoxType.itms-algE {
    -webkit-box-align: end;
    align-items: flex-end
}

.BoxType.itms-algC {
    -webkit-box-align: center;
    align-items: center
}

.BoxType.itms-algBL {
    -webkit-box-align: baseline;
    align-items: baseline
}

.BoxType.itms-algSR {
    -webkit-box-align: stretch;
    align-items: stretch
}

.BoxType.vertical.spcXs>div {
    margin-top: 2px
}

.BoxType.vertical.spcSm>div {
    margin-top: 4px
}

.BoxType.vertical.spcMd>div {
    margin-top: 8px
}

.BoxType.vertical.spcLg>div {
    margin-top: 12px
}

.BoxType.vertical.spcXl>div {
    margin-top: 16px
}

.BoxType.vertical.spcXXl>div {
    margin-top: 20px
}

.BoxType.vertical>div.mdBxFiller, .BoxType.vertical>div.mdBxSpacer, .BoxType.vertical>div:first-child {
    margin-top: 0
}

.BoxType>div.fl0 {
    -webkit-box-flex: 0!important;
    flex: none!important
}

.BoxType>div.fl1 {
    -webkit-box-flex: 1!important;
    flex: 1 0 0!important
}

.BoxType>div.fl2 {
    -webkit-box-flex: 2!important;
    flex: 2 0 0!important
}

.BoxType>div.fl3 {
    -webkit-box-flex: 3!important;
    flex: 3 0 0!important
}

.BoxType>div.algS {
    -webkit-box-align: start;
    align-items: flex-start
}

.BoxType>div.algE {
    -webkit-box-align: end;
    align-items: flex-end
}

.BoxType>div.grvC {
    -webkit-box-pack: center;
    justify-content: center
}

.BoxType>div.grvB {
    -webkit-box-pack: end;
    justify-content: flex-end
}

.FlexContainer .BoxType>div.mdBxFiller {
    -webkit-box-flex: 1;
    flex: 1 0 0
}

@media (-webkit-min-device-pixel-ratio: 1) {
    .FlexContainer .BoxType>div.mdBxFiller {
        width: 0
    }
}

@media (-webkit-min-device-pixel-ratio: 1) and (min-width: 0.001vmax) {
    .FlexContainer .BoxType>div.mdBxFiller {
        width: auto
    }
}

@media (min-resolution: 1dpi) {
    .FlexContainer .BoxType>div.mdBxFiller {
        width: auto
    }
}

.BoxType>div.mdBxSpacer {
    -webkit-box-flex: 0;
    flex: none
}

.BoxType.horizontal>div.mdBxSpacer {
    height: 1px
}

.BoxType.horizontal>div.mdBxSpacer.spcXs {
    width: 2px
}

.BoxType.horizontal>div.mdBxSpacer.spcSm {
    width: 4px
}

.BoxType.horizontal>div.mdBxSpacer.spcMd {
    width: 8px
}

.BoxType.horizontal>div.mdBxSpacer.spcLg {
    width: 12px
}

.BoxType.horizontal>div.mdBxSpacer.spcXl {
    width: 16px
}

.BoxType.horizontal>div.mdBxSpacer.spcXXl {
    width: 20px
}

.BoxType.horizontal[class*="spc"]>div.mdBxSpacer+div {
    margin-left: 0
}

.BoxType.horizontal>.MdSep {
    align-self: stretch
}

.BoxType.vertical>div.mdBxSpacer {
    width: 1px
}

.BoxType.vertical>div.mdBxSpacer.spcXs {
    height: 2px
}

.BoxType.vertical>div.mdBxSpacer.spcSm {
    height: 4px
}

.BoxType.vertical>div.mdBxSpacer.spcMd {
    height: 8px
}

.BoxType.vertical>div.mdBxSpacer.spcLg {
    height: 12px
}

.BoxType.vertical>div.mdBxSpacer.spcXl {
    height: 16px
}

.BoxType.vertical>div.mdBxSpacer.spcXXl {
    height: 20px
}

.BoxType.vertical>div.fl0 {
    -webkit-box-flex: 0!important;
    flex: none!important
}

.BoxType.vertical>div.fl1 {
    -webkit-box-flex: 1!important;
    flex: 1 0 auto!important
}

.BoxType.vertical>div.fl2 {
    -webkit-box-flex: 2!important;
    flex: 2 0 auto!important
}

.BoxType.vertical>div.fl3 {
    -webkit-box-flex: 3!important;
    flex: 3 0 auto!important
}

.BoxType[class*="spc"]>div.mdBxSpacer+div {
    margin-top: 0
}

[class*="MdSep"] {
    -webkit-box-flex: 0;
    flex: none;
    box-sizing: content-box;
    width: 100%;
    border: 0 solid #d4d6da
}

.MdSep {
    position: relative;
    -webkit-box-flex: 0;
    flex: none
}

.MdSep::before {
    box-sizing: content-box;
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 1px;
    border: inherit;
    border-top-width: 1px;
    -webkit-transform-origin: left top;
    transform-origin: left top;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5)
}

.MdSep:last-child::before {
    margin-top: -1px;
    border-top-width: 0;
    border-bottom-width: 1px
}

.fxRTL .MdSep::before {
    -webkit-transform-origin: right top;
    transform-origin: right top
}

.MdSepB {
    border-top-width: 1px
}

.BoxType.horizontal>div.MdSep::before {
    width: 1px;
    height: 100%;
    border-top-width: 0;
    border-left-width: 1px;
    -webkit-transform: scaleX(0.5);
    transform: scaleX(0.5)
}

.BoxType.horizontal>div.MdSep:last-child::before {
    margin-top: 0;
    margin-left: -1px;
    border-left-width: 0;
    border-right-width: 1px
}

.BoxType.horizontal>div.MdSepB {
    border-top-width: 0;
    border-left-width: 1px
}

.fxRTL .BoxType.horizontal>div.MdSep::before {
    border-left-width: 0;
    border-right-width: 1px
}

.fxRTL .BoxType.horizontal>div.MdSep:last-child::before {
    margin-left: 0;
    margin-right: -1px;
    border-right-width: 0;
    border-left-width: 1px
}

.TextType {
    position: relative
}

.TextType p {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap
}

.TextType p:empty {
    height: 1.4em
}

.TextType.ExWrap p {
    text-overflow: clip;
    word-wrap: break-word;
    white-space: normal
}

.TextType.Ex2nd {
    color: #aaa
}

.TextType.ExAlgC p {
    text-align: center
}

.TextType.ExAlgE p {
    text-align: end
}

.MdSpn {
    font-style: inherit;
    font-weight: inherit;
    text-decoration: inherit
}

.MdSpn.ExXXs {
    font-size: 11px
}

.MdSpn.ExXs {
    font-size: 13px
}

.MdSpn.ExSm {
    font-size: 14px
}

.MdSpn.ExMd {
    font-size: 16px
}

.MdSpn.ExLg {
    font-size: 19px
}

.MdSpn.ExXl {
    font-size: 22px
}

.MdSpn.ExXXl {
    font-size: 29px
}

.MdSpn.Ex3Xl {
    font-size: 35px
}

.MdSpn.Ex4Xl {
    font-size: 48px
}

.MdSpn.Ex5Xl {
    font-size: 74px
}

.IconType {
    position: relative
}

.IconType span {
    display: inline-block;
    overflow: hidden;
    background: no-repeat center;
    background-size: contain;
    width: 1em;
    height: 1em;
    vertical-align: baseline
}

.IconType.ExAr2to1 span {
    width: 2em
}

.IconType.ExAr3to1 span {
    width: 3em
}

/* .IconType.ExXXs, .TextType.ExXXs {
    font-size: 11px
}

.IconType.ExXs, .TextType.ExXs {
    font-size: 13px
}

.IconType.ExSm, .TextType.ExSm {
    font-size: 14px
}

.IconType.ExMd, .TextType.ExMd {
    font-size: 16px
}

.IconType.ExLg, .TextType.ExLg {
    font-size: 19px
}

.IconType.ExXl, .TextType.ExXl {
    font-size: 22px
}

.IconType.ExXXl, .TextType.ExXXl {
    font-size: 29px
}

.IconType.Ex3Xl, .TextType.Ex3Xl {
    font-size: 35px
}

.IconType.Ex4Xl, .TextType.Ex4Xl {
    font-size: 48px
}

.IconType.Ex5Xl, .TextType.Ex5Xl {
    font-size: 74px
} */

.ButtonType {
    position: relative
}

.ButtonType a {
    display: inherit;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    height: 52px;
    padding: 0 16px;
    border-radius: 8px;
    font-size: 16px
}

.ButtonType div {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%
}

.ButtonType.ExBtn1 a {
    background-color: #17c950;
    color: #ffffff
}

.ButtonType.ExBtn2 a {
    background-color: #dcdfe5;
    color: #111111
}

.ButtonType.ExBtnL a {
    color: #42659a
}

.ButtonType.ExSm a {
    height: 40px
}

.ImageType {
    -webkit-box-align: center;
    align-items: center;
    overflow: hidden;
    position: relative
}

.ImageType>div {
    max-width: 100%
}

.ImageType a {
    display: block;
    position: relative;
    width: 100%
}

.ImageType span {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center center
}

/* .ImageType.ExXXs>div {
    width: 40px
}

.ImageType.ExXs>div {
    width: 60px
}

.ImageType.ExSm>div {
    width: 80px
}

.ImageType.ExMd>div {
    width: 100px
}

.ImageType.ExLg>div {
    width: 120px
}

.ImageType.ExXl>div {
    width: 140px
}

.ImageType.ExXXl>div {
    width: 160px
}

.ImageType.Ex3Xl>div {
    width: 180px
}

.ImageType.Ex4Xl>div {
    width: 200px
}

.ImageType.Ex5Xl>div {
    width: 220px
}

.ImageType.ExFull>div {
    width: 100%
}

.ImageType.ExAr1to1 a {
    padding-bottom: 100%
}

.ImageType.ExAr1_51to1 a {
    padding-bottom: 66.22517%
}

.ImageType.ExAr1_91to1 a {
    padding-bottom: 52.35602%
}

.ImageType.ExAr20to13 a {
    padding-bottom: 65%
}

.ImageType.ExAr4to3 a {
    padding-bottom: 75%
}

.ImageType.ExAr16to9 a {
    padding-bottom: 56.25%
}

.ImageType.ExAr2to1 a {
    padding-bottom: 50%
}

.ImageType.ExAr3to1 a {
    padding-bottom: 33.33333%
}

.ImageType.ExAr3to4 a {
    padding-bottom: 133.33333%
}

.ImageType.ExAr9to16 a {
    padding-bottom: 177.77778%
}

.ImageType.ExAr1to2 a {
    padding-bottom: 200%
}

.ImageType.ExAr1to3 a {
    padding-bottom: 300%
} */

.ImageType.AspectModeFit span {
    background-size: contain
}

.ImageType.AspectModeCover span {
    background-size: cover
}

.ImageType.ExCircle span {
    border-radius: 50%
}

.ImageType.ExMirrored span {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1)
}

.ImageType.PositionAbsolute.ExFull {
    width: 100%
}

.ExMgnANone {
    margin: 0!important
}

.ExMgnAXs {
    margin: 2px!important
}

.ExMgnASm {
    margin: 4px!important
}

.ExMgnAMd {
    margin: 8px!important
}

.ExMgnALg {
    margin: 12px!important
}

.ExMgnAXl {
    margin: 16px!important
}

.ExMgnAXXl {
    margin: 20px!important
}

.ExMgnTNone {
    margin-top: 0!important
}

.ExMgnTXs {
    margin-top: 2px!important
}

.ExMgnTSm {
    margin-top: 4px!important
}

.ExMgnTMd {
    margin-top: 8px!important
}

.ExMgnTLg {
    margin-top: 12px!important
}

.ExMgnTXl {
    margin-top: 16px!important
}

.ExMgnTXXl {
    margin-top: 20px!important
}

.ExMgnBNone {
    margin-bottom: 0!important
}

.ExMgnBXs {
    margin-bottom: 2px!important
}

.ExMgnBSm {
    margin-bottom: 4px!important
}

.ExMgnBMd {
    margin-bottom: 8px!important
}

.ExMgnBLg {
    margin-bottom: 12px!important
}

.ExMgnBXl {
    margin-bottom: 16px!important
}

.ExMgnBXXl {
    margin-bottom: 20px!important
}

.ExMgnLNone {
    margin-left: 0!important
}

.ExMgnLXs {
    margin-left: 2px!important
}

.ExMgnLSm {
    margin-left: 4px!important
}

.ExMgnLMd {
    margin-left: 8px!important
}

.ExMgnLLg {
    margin-left: 12px!important
}

.ExMgnLXl {
    margin-left: 16px!important
}

.ExMgnLXXl {
    margin-left: 20px!important
}

.ExMgnRNone {
    margin-right: 0!important
}

.ExMgnRXs {
    margin-right: 2px!important
}

.ExMgnRSm {
    margin-right: 4px!important
}

.ExMgnRMd {
    margin-right: 8px!important
}

.ExMgnRLg {
    margin-right: 12px!important
}

.ExMgnRXl {
    margin-right: 16px!important
}

.ExMgnRXXl {
    margin-right: 20px!important
}

.ExPadANone {
    padding: 0!important
}

.ExPadAXs {
    padding: 2px!important
}

.ExPadASm {
    padding: 4px!important
}

.ExPadAMd {
    padding: 8px!important
}

.ExPadALg {
    padding: 12px!important
}

.ExPadAXl {
    padding: 16px!important
}

.ExPadAXXl {
    padding: 20px!important
}

.ExPadTNone {
    padding-top: 0!important
}

.ExPadTXs {
    padding-top: 2px!important
}

.ExPadTSm {
    padding-top: 4px!important
}

.ExPadTMd {
    padding-top: 8px!important
}

.ExPadTLg {
    padding-top: 12px!important
}

.ExPadTXl {
    padding-top: 16px!important
}

.ExPadTXXl {
    padding-top: 20px!important
}

.ExPadBNone {
    padding-bottom: 0!important
}

.ExPadBXs {
    padding-bottom: 2px!important
}

.ExPadBSm {
    padding-bottom: 4px!important
}

.ExPadBMd {
    padding-bottom: 8px!important
}

.ExPadBLg {
    padding-bottom: 12px!important
}

.ExPadBXl {
    padding-bottom: 16px!important
}

.ExPadBXXl {
    padding-bottom: 20px!important
}

.ExPadLNone {
    padding-left: 0!important
}

.ExPadLXs {
    padding-left: 2px!important
}

.ExPadLSm {
    padding-left: 4px!important
}

.ExPadLMd {
    padding-left: 8px!important
}

.ExPadLLg {
    padding-left: 12px!important
}

.ExPadLXl {
    padding-left: 16px!important
}

.ExPadLXXl {
    padding-left: 20px!important
}

.ExPadRNone {
    padding-right: 0!important
}

.ExPadRXs {
    padding-right: 2px!important
}

.ExPadRSm {
    padding-right: 4px!important
}

.ExPadRMd {
    padding-right: 8px!important
}

.ExPadRLg {
    padding-right: 12px!important
}

.ExPadRXl {
    padding-right: 16px!important
}

.ExPadRXXl {
    padding-right: 20px!important
}

.ExBdrWdtNone {
    border-width: 0!important
}

.ExBdrWdtLgh {
    border-width: 0.5px!important
}

.ExBdrWdtNml {
    border-width: 1px!important
}

.ExBdrWdtMdm {
    border-width: 2px!important
}

.ExBdrWdtSbd {
    border-width: 3px!important
}

.ExBdrWdtBld {
    border-width: 4px!important
}

.ExBdrRadNone {
    border-radius: 0!important
}

.ExBdrRadXs {
    border-radius: 2px!important
}

.ExBdrRadSm {
    border-radius: 4px!important
}

.ExBdrRadMd {
    border-radius: 8px!important
}

.ExBdrRadLg {
    border-radius: 12px!important
}

.ExBdrRadXl {
    border-radius: 16px!important
}

.ExBdrRadXXl {
    border-radius: 20px!important
}

.PositionAbsolute {
    position: absolute;
    margin: 0!important;
    width: auto
}

.PositionRelative {
    position: relative;
    margin: 0!important;
    width: auto
}

.ExTNone {
    top: 0
}

.ExTXs {
    top: 2px
}

.ExTSm {
    top: 4px
}

.ExTMd {
    top: 8px
}

.ExTLg {
    top: 12px
}

.ExTXl {
    top: 16px
}

.ExTXXl {
    top: 20px
}

.ExBNone {
    bottom: 0
}

.ExBXs {
    bottom: 2px
}

.ExBSm {
    bottom: 4px
}

.ExBMd {
    bottom: 8px
}

.ExBLg {
    bottom: 12px
}

.ExBXl {
    bottom: 16px
}

.ExBXXl {
    bottom: 20px
}

.ExLNone {
    left: 0
}

.ExLXs {
    left: 2px
}

.ExLSm {
    left: 4px
}

.ExLMd {
    left: 8px
}

.ExLLg {
    left: 12px
}

.ExLXl {
    left: 16px
}

.ExLXXl {
    left: 20px
}

.ExRNone {
    right: 0
}

.ExRXs {
    right: 2px
}

.ExRSm {
    right: 4px
}

.ExRMd {
    right: 8px
}

.ExRLg {
    right: 12px
}

.ExRXl {
    right: 16px
}

.ExRXXl {
    right: 20px
}

.ExWR {
    font-weight: normal!important
}

.ExWR * {
    font-weight: inherit
}

.ExWB {
    font-weight: bold!important
}

.ExWB * {
    font-weight: inherit
}

.ExFntStyNml {
    font-style: normal!important
}

.ExFntStyNml * {
    font-style: inherit
}

.ExFntStyIt {
    font-style: italic!important
}

.ExFntStyIt * {
    font-style: inherit
}

.ExTxtDecNone {
    text-decoration: none!important
}

.ExTxtDecUl {
    text-decoration: underline!important
}

.ExTxtDecLt {
    text-decoration: line-through!important
}